.card-item {
  margin-top: 16px; }

.left-sidebar {
  background-color: black;
  color: #fff; }

.user-avatar {
  margin-right: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%; }

.form-delete {
  display: inline; }
